<div class="backdrop">
  <div id="sidebar" class="col-sm-3"></div>
  <div id="main" class="col-sm-4"></div>
</div>
<script>
  $(document).ready(function(){
    Fora.CURRENT_USER_ID = <%= current_user.id %>;
    Fora.initialize();
  });
</script>
