<div class="navbar"></div>
<div class="backdrop">
  <div class="container-fluid">
    <div class="col-sm-3" id="sidebar"></div>
    <div class="col-sm-6 col-centered" id="main"></div>
    <div class="col-sm-2" id="right-sidebar"></div>
  </div>
</div>

<script>
  $(document).ready(function () {
    Fora.CURRENT_USER_ID = <%= current_user.id %>;
    Fora.CURRENT_USER_NAME = "<%= current_user.name%>";
    Fora.CURRENT_USER_AVATAR = "<%= current_user.img_src%>"
    Fora.initialize();
  });
</script>
