
<div class="navbar">

</div>
<div class="backdrop">
  <div class="container-fluid">
    <div id="sidebar" class="col-sm-3"></div>
    <div id="main" class="col-sm-6 col-centered"></div>
  </div>
</div>
<script>
  $(document).ready(function(){
    Fora.CURRENT_USER_ID = <%= current_user.id %>;
    Fora.CURRENT_USER_NAME = "<%= current_user.name%>";
    Fora.initialize();
  });
</script>
