
Bio
<br>
<input type="text" name="author_bio" id="author-bio" placeholder='Any background information/achievements relating to the question'>
<br>
Body
<br>

<textarea class='form-control' rows="3" name='body' placeholder='Write your answer'>
</textarea>
<br>
<button type="button" class="btn btn-default submit" aria-label="Left Align">Submit</button>
