<h3>Answer this Question!</h3>

  <label for='body'>Body</label>
  <br>

  <textarea class='form-control' rows="3" name='body' >
  </textarea>
<br>
<button type="button" class="btn btn-default submit" aria-label="Left Align">Submit</button>
