<input tpye="text" name="author_bio" id="author_bio">
<br>
<label for='body'>Body</label>
<br>

<textarea class='form-control' rows="3" name='body' placeholder='Write your answer'>
</textarea>
<br>
<button type="button" class="btn btn-default submit" aria-label="Left Align">Submit</button>
