<p class="author-name">
<span><img class="avatar" src="<%=answer.escape('answer_author_avatar')%>"></span>
<t><%=answer.escape('answer_author')%>
</p>

<div class="answer-body"><%=answer.escape('body')%></div>
<br>
<p class="date">Written <%=answer.escape('answer_date')%></p>
<span class="answer-footer"></span>

<% if (Fora.CURRENT_USER_ID == answer.escape('author_id')) { %>
  <a class="text-muted delete-answer" href="javascript:;">Delete</a>
  <a class="text-muted edit-answer" href="javascript:;">Edit</a>
<% } %>
