<p class="author-name"><%=answer.escape('answer_author')%></p>
<span class="answer-body"><%=answer.escape('body')%></span>
<br>
<span class="answer-footer"></span>
<% if (Fora.CURRENT_USER_ID == answer.escape('author_id')) { %>
  <a class="text-muted delete-answer" href="javascript:;">Delete</a>
  <a class="text-muted edit-answer" href="javascript:;">Edit</a>
<% } %>
