<p id="sidebar-title">Feeds<a class="edit-tag" href="javascript:;">Edit</a>
                           <a class="done-edit-tag" href="javascript:;">Done</a></p>

<a href="#" id="top-stories">Top Stories</a>
<div class="tags-container user-feed"></div>
<div class="tag-form"></div>

<script>
  $('.edit-tag').click(function() {
    $('.delete-tag').fadeIn();
    $('.done-edit-tag').fadeIn();
    $('.edit-tag').hide();
    $('.question-tag').children().css("display", "inline")
  });

  $('.done-edit-tag').click(function () {
    $('.delete-tag').hide();
    $('.done-edit-tag').hide();
    $('.edit-tag').fadeIn();
    $('.question-tag').children().css("display", "block")
  });
</script>
