<% if (vote.isNew()) { %>
  <div class="btn-group upvote" role="group">
    <button type="button" class="btn btn-default">Upvote</button>
    <button type="button" class="btn btn-default">
      <%=voteable.escape('num_upvotes')%>
    </button>
  </div>
<% } else { %>
  <div class="btn-group upvoted" role="group">
    <button type="button" class="btn btn-default">Upvoted</button>
    <button type="button" class="btn btn-default">
      <%=voteable.escape('num_upvotes')%>
    </button>
  </div>
<% } end %>
