<% if (vote.isNew()) { %>
  <span class="btn-group upvote" role="group">
    <button type="button" class="btn btn-default btn-sm">Upvote</button>
    <button type="button" class="btn btn-default btn-sm vote-count">
      <%=model.escape('num_upvotes')%>
    </button>
  </span>
<% } else { %>
  <span class="btn-group upvote upvoted" role="group">
    <button type="button" class="btn btn-default btn-sm">Upvoted</button>
    <button type="button" class="btn btn-default btn-sm vote-count">
      <%=model.escape('num_upvotes')%>
    </button>
  </span>
<% }  %>
