<p id="sidebar-title">Feeds<a class="edit-tag" href="javascript:;">Edit</a>
                           <a class="done-edit-tag" href="javascript:;">Done</a></p>

<a href="#" id="top-stories">Top Stories</a>
<div class="more-tags-container"></div>
