<h1>New Question</h1>

  <label for='title'>Title</label>
  <br>

  <input type='text'
         name='title'
         id='title'
         value='<%= question.escape('title') %>'>
  <br>
  <label for='body'>Body</label>
  <br>

  <textarea class='form-control'
            rows="3"name='body'
            id='body'><%= question.escape('body') %></textarea>
<br>
<button>Submit</button>
