<% if (window.location.hash == "") { %>
<p id="top-stories-header">Top Stories For You</p>
<% } else if (window.location.hash == "#answer") { %>
<p id="top-stories-header">Questions for You</p>
<% } else { %>
<p id="top-stories-header">Search Results</p>
<% } %>
<ul class="content-container">
</ul>

<% if (window.location.hash =="") { %>
<div id="end-feed">You've reached the end of your feed.
  <button class="btn btn-primary" id="scroll-up"><span class="glyphicon glyphicon-arrow-up"></span>       More Questions  </button>
</div>
<% } else { %>
<div id="blank-space"></div>
<% } %>


<script>
$("html, body").animate({ scrollTop: 0 }, "slow");
</script>
