<% debugger;%>
<% if (window.location.hash == "") { %>
<p id="top-stories-header">Top Stories For You</p>
<% } else { %>
<p id="top-stories-header">Search Results</p>
<% } %>
<ul class="content-container">
</ul>
