<a href="#questions/<%=question.id%>" class="question-title">
<%=question.escape('title')%></a>
<p><%=question.escape('body')%></p>
<button type="button" class="btn btn-default answer-question" aria-label="Left Align">Answer Question</button>
