<p class="question-title"><%=question.escape('title')%></p>
<p><%=question.escape('body')%></p>
<p class="author_name"><%=question.escape('question_author')%></p>
<div class="answer-form"></div>
<div class="answers-index"></div>
