  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// .btn .btn-default .upvote{
//   background-color: #AAA
// }

.upvote > .btn-default.btn {
  background-color: #f1f8fb;
  border: 1px solid #CCC;
  color: #27667A;
}

.follow-count, .vote-count {
  font-weight: bold;
}

.navbar {
  background-image: none;
  // z-index: -1;
  // background-color: red;
}
// .ask-question {
//   // background-color: blue !important;
//   // z-index: -1;
//   color: white !important;
//   position: absolute;
//   // background-size: 50% !important;
//   background-color: #3e78ad;
//   text-align: center;
//   height: 20px;
//   top: 20px;
//   // margin-top: 10px
// }

#ask-question, #home{
  background-color: none;
  font-size: 18px;
  margin-top: 5px;
}

.question-show {
  margin-left: 18px;
}
#home {
  // margin-top: 10px;
}
.btn-group:hover > * {
  border: 1px solid #AAA !important;
}
#logged-out {
  background-image: url("http://i.imgur.com/UmCOsuC.jpg");
  background-repeat: no-repeat;
  background-position:50% 10%;
  // background-color: #BBB;
}
.navnav {
  // padding: 0 200px;
  // margin-top: 8px;
}

.navbar-right {
  padding-right: 22.5%;
}
body {
  // background-image: url("half_eh.jpg");
}

a {
  color: #555;
}

.avatar {
  border-radius: 50%;
}
html *
{
  font-family: Helvetica;
  font-size: 18px;
}
// .nav  bar {
// }
ul {
  list-style-type: none;
  padding-left: 12px;
}


.question-tag    {
  padding-left: 0;
  background-color: #EEE;
  padding: 2px 5px;
  border: none;
  border-radius: 10px;
}

// .tags-container > .user-feed {
//   list-style-type: square;
// }

.questions-index-item {
  margin-left: 0;
}


.question-footer, .answer-footer {
  display: inline-block;
}

// .user-feed > li {
//   list-style-type: square;
// }

#search {
  background-color: #EEE;
}
.question-topics > li, .tags-container > li, .user-feed > li  {
  background-color: #EEE;
  border-radius: 10px;
  margin: 10px;
  list-style-type: none;
}
.new-session, .new-user {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // background-color: #DDD;
  background-color: rgba(221, 221, 221, 0.9);
  border: 1px solid #DDD;
  border-radius: 20px;
  padding: 20px;
  // opacity: 0.4;
}

.new-session > h1, .new-user > h1, .navbar-brand {
  text-align: center;
  color: #ED5151 !important;
  font-weight: 700;
  font-style: Verdana;
  font-size: 25px;
}
.question-header, .date {
  color: #AAA
}
.question-title, .tag-title,  {
  font-weight: bold;
  font-size: 25px;
  color: black;
  // padding-left: -12px;
}

.questions-index-item {
  // margin-left: 12px;
}

#navbar-avatar {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

#current-user-dropdown {
  padding-top: 10px;
}
.content-container {
  // padding-left: 0px;
  // float: left;
  // position: relative;
}
.navbar {
  padding-left: 5.5%;
  // width: 80%;
}
.author-name {
  font-weight: bold;
  font-size: 20px;
}

.tag-form {
  padding-left: 2%;
  width: 80%;
}
.answer-form {
  border: 1px solid #EEE;
  border-radius: 2px;
  background-color: #EEE;
  word-wrap: break-word;
}

.sidebar-title, #top-stories {
  font-weight: bold;
  margin-left: 5%;
}

.sidebar-title, .content-container > li, .action-bar, .answer-count {
  padding-top: 10px;
  border-bottom: 1px solid #BBB;
  padding-bottom: 10px;

}

.btn-sm {
  font-size: 16px;
}
.edit, .delete {
  bottom: 0px;
}
#sidebar {
  padding-left: 5%;
  overflow: auto;
  white-space: nowrap;
  width: 20%;
  position: fixed;
}
#sidebar > * {
  // width: 200px;
  // float: right;
}
.center-block {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#main {
  overflow: auto;
  width: 60%;
  margin-left: 20%
}

#email, #password, #name {
  width: 320px;
}
