/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// .btn .btn-default .upvote{
//   background-color: #AAA
// }

.upvote > .btn-default.btn {
  background-color: #f1f8fb;
  border: 1px solid #CCC;
}

.follow-count, .vote-count {
  font-weight: bold;
}

.btn-group:hover > * {
  border: 1px solid #AAA !important;
}
.logged-out {
  background-image: url("half_eh.jpg");
  background-repeat: no-repeat;
  background-position:50% 10%;
  // background-color: #BBB;
}


a {
  color: #555;
}

html *
{
  font-family: Georgia;
  font-size: 18px;
}
.navbar {
}
ul {
  list-style-type: none;
  padding-left: 12px;
}

.answer-count {
  margin-left: 12px;
}

.question-tag    {
  margin-left: 1px;
  background-color: #EEE;
  padding: 2px 5px;
  border: none;
  border-radius: 10px;
}

// .tags-container > .user-feed {
//   list-style-type: square;
// }

.questions-index-item {
  margin-left: 0;
}

.question-footer, .answer-footer {
  display: inline-block;
}

// .user-feed > li {
//   list-style-type: square;
// }

.question-topics > li, .tags-container > li, .user-feed > li  {
  background-color: #EEE;
  border-radius: 10px;
  margin: 10px;
  list-style-type: none;
}
.new-session, .new-user {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #DDD;
  border: 1px solid #DDD;
  border-radius: 20px;
  padding: 20px;
}

.new-session > h1, .new-user > h1 {
  text-align: center;
}
.question-header, .date {
  color: #AAA
}
.question-title, .tag-title,  {
  font-weight: bold;
  font-size: 30px;
  color: black;
  // padding-left: -12px;
}

.author-name {
  font-weight: bold;
  font-size: 20px;
}

.answer-form {
  border: 1px solid #EEE;
  border-radius: 2px;
  background-color: #EEE;
  word-wrap: break-word;
}

.sidebar-title {
  font-weight: bold;
}

.sidebar-title, .content-container > li, .action-bar, .answer-count {
  border-bottom: 1px solid #BBB;
  padding-bottom: 10px;

}

.btn-sm {
  font-size: 16px;
}
.edit, .delete {
  bottom: 0px;
}
#sidebar {
  float: left;
}
#sidebar > * {
  width: 200px;
  float: right;
}
.center-block {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#main {
  overflow: hidden;
}
