<label for='title'>Add Topic</label>
<br>

<input type='text'
       name='title'
       id='title'
       size="18">

<br>
<label for='body'>Body</label>
<br>

<button type="button" class="btn btn-default submit" aria-label="Left Align">Submit</button>
