<div class="tag-show">
  <h2 class="tag-title"><%=tag.escape('title')%></h2>
  <div class="tag-description"><%=tag.escape('description')%></div>
  <div class="action-bar"></div>
</div>
<ul class="content-container" id="tag-questions"></ul>
<div id="blank-space"></div>
