<h3>omg stuff shows up</h3>
<h3><%=tag.escape('title')%></h3>
<button type="button" class="btn btn-default follow" aria-label="Left Align">
Follow Topic</button>

<button type="button" class="btn btn-default unfollow" aria-label="Left Align">
Unfollow Topic</button>

<ul class="questions-container"></ul>
