<h3 class="tag-title"><%=tag.escape('title')%></h3>
<button type="button" class="btn btn-default follow">
  <% if (tag.escape('followed')) {%>
    Followed
  <%} else {%>
    Follow
  <% } %>
</button>

<ul class="content-container"></ul>
